.container img {
    width: 600px;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    background-color: #064a90 !important;
}

.nav {
    margin-bottom: 40px;
}

.nav-tabs>li>a {
    margin: 0;
    padding: 0 10px;
    display: inline-block;
    float: none;
    width: 100%;
    font-size: 16px;
    line-height: 50px;
    position: relative;
    font-weight: 700;
    color: #fff;
}

.card {
    background-color: #fff;
    border: 1px solid transparent;
}

.card .card-img {
    position: relative;
    padding: 15px;
    display: table;
}

.card .card-body {
    display: table;
    width: 100%;
    padding: 12px;
}

.card-border {
    border-color: #999;
    background-color: #ededed;
}

.card-body h3 {
    font-weight: bold;
}